html(lang = 'es')

head 
    title Error 
    link(rel="stylesheet", type= 'text/css', href="css/inicio.css")


body(id = 'error')
    h1.letra Error 404
    h2 No se encuentra la direccion '#{textoError}'