
doctype html
html(lang = 'es')
head 
    title #{titulo}
    link(rel="stylesheet", type= 'text/css', href="css/inicio.css")


body 
    h1 cosas desde PUG
    a(href='tienda.html') ve a la tienda
    p(id='entrada') #{texto}
    div(id='coso')
        x
        p esto esta dentro de la division 
        img(src="images/ra.jpg", alt="imagen1")

    h3 otro texto 
    ul(id='contenedor')
        li something 
        li something 0
        li something 1
        li esto es una lista sin orden, por el punto, solo eso

